@keyframes bounce {
    0% {
        transform: translateY(0) rotate(180deg);
    }

    50% {
        transform: translateY(30%) rotate(180deg);
    }

    60% {
        transform: translateY(30%) rotate(180deg);
    }

    100% {
        transform: translateY(0) rotate(180deg);
    }
}

