.scroll-fix {
    &::before {
        display: block;
        height: 1.5rem;
        content: '';
    }
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 2em;
    width: 100%;
    max-width: 1300px;
}

.section-header {
    position: relative;
    display: flex;
    margin: 8rem 0;
    justify-content: center;
    letter-spacing: .2rem;
    font-size: $sizeM;
    text-transform: uppercase;
    text-align: center;

    @include media-extra-large-desktop {
        font-size: $sizeL;
    }

    &::before {
        position: absolute;
        content: '';
        bottom: -1rem;
        width: 7rem;
        height: .3rem;
        background-color: $gold-color;

        @include media-extra-large-desktop {
            width: 9rem;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    outline: none;
}

svg #wheel {
    animation: scroll ease 1.5s infinite;
}