.gallery {
    position: relative;

    &__swiper {
        &-container {
            overflow: hidden;
            margin: 0 auto;
            max-width: 110rem;
        }

        &-slide {
            width: 80% !important;
        }

        &-img {
            width: 100%;
            height: 40rem;
            object-fit: cover;
            object-position: center;
            
            @include media-desktop {
                height: 52rem;
            }
        }

        &-pagination .swiper-pagination-bullet-active {
            background-color: $gold-color;
        }

    }
}