.gallery {
    position: relative;

    &__swiper {
        &-container {
            overflow: hidden;
            margin: 0 auto;
            max-width: 110rem;
        }

        &-slide {
            width: 80% !important;
        }

        &-img {
            width: 100%;
            height: 40rem;
            object-fit: cover;
            object-position: center;
            
            @include media-desktop {
                height: 52rem;
            }
        }

        &-pagination .swiper-pagination-bullet-active {
            background-color: $gold-color;
        }

    }

    &__ico-one {
        left: -1%;
        top: 36%;
        transform: rotate(-61deg);

        @include media-desktop {
            left: 1%;
        }
    }

    &__ico-two {
        left: 86.5%;
        top: 16%;
        transform: rotate(-1deg);
    }
}