@mixin coverCard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
}

@mixin activeLabel {
    top: .9rem;
    font-size: $sizeExtraSmall;
    color: #9ca1b7;
}