.services {
    margin-bottom: 200px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-mobile {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__card {
        position: relative;
        margin: 2rem 2rem;
        height: 45rem;
        width: 100%;
        max-width: 30rem;
        color: $font-color;
        text-align: center;
        cursor: pointer;
        perspective: 100rem;

        &-title {
            margin-top: 2rem;
            padding: 0 2rem;
            letter-spacing: .2rem;
            font-size: $sizeS;
            z-index: 10;
        }

        &-read-more-box {
            display: flex;
            position: absolute;
            bottom: 4rem;
            left: 13.5rem;

            &::after {
                position: absolute;
                content: '';
                bottom: -1rem;
                left: 0;
                width: 100%;
                height: .2rem;
                background-color: $gold-color;
                transition: width .3s, background-color .4s;
            }

            &-text {
                margin-right: 1rem;
                font-size: $sizeForFooter;
                transition: margin-right .3s;
            }

            &-arrow {
                display: inline-block;
                margin-top: .1rem;
                width: 2.5rem;
                filter: invert(27%) saturate(2878%) hue-rotate(346deg)brightness(100);
            }

        }

        &-list {
            &-title {
                margin-bottom: 1rem;
                text-align: center;
                font-size: $sizeXS;
                list-style-type: none;
            }

            &-element {
                margin-left: 1rem;
                text-align: left;
                list-style-type: none;

                &--special {
                    margin-left: unset;
                    font-weight: 800;
                }
            }
        }

        &-img {
            @include coverCard;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
        }

        &-back-img {
            position: absolute;
            top: 83%;
            left: 50%;
            transform: translateX(-50%);
        }

        &-front,
        &-back {
            transition: opacity .6s .16s cubic-bezier(0.74, 0.08, 0, 1.76), visibility .5s, transform .6s .16s ease-out;
        }

        &:hover &-read-more-box::after {
            width: 59%;
            background-color: $darker-gold-color;
        }

        &:hover &-read-more-box-text {
            margin-right: 3rem;
        }

        &:hover {
            .services__card-front {
                visibility: hidden;
                transform: rotateY(-180deg);
                opacity: 0;
            }

            .services__card-back {
                transform: rotateY(0);
                opacity: 1;
            }
        }

    }

    &__card-front {
        @include coverCard;
        z-index: 1;

        &-shadow {
            @include coverCard;
            background-color: rgba(0, 0, 0, .6);
            z-index: -1;
        }

        &::before {
            content: '';
            @include coverCard;
            background: linear-gradient(0deg, $darker-gold-color 19%, $gold-color 89%);
            transform: skew(1.5deg, 1.5deg);
            z-index: -1000;
        }
    }

    &__card-back {
        @include coverCard;
        transform: rotateY(180deg);
        opacity: 0;
        z-index: 0;

        &::before {
            content: '';
            @include coverCard;
            background: linear-gradient(0deg, $darker-gold-color 19%, $gold-color 89%);
            transform: skew(-1.5deg, -1.5deg);
            z-index: -1000;
        }
    }

}