.swiper-container {
    height: 75%;
    top: 0;
}

.swiper-slide {
    margin-top: 2rem;
    padding: 0 2rem;
    height: 100%;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1.4rem;
}

.swiper-button-prev,
.swiper-button-next {
    top: 310px !important;
}
