$font-size:62.5%;
$font-family: 'Inter', sans-serif;

// COLORS
$background-color: #121212;
$font-color: #fff;

$sizeForAdress: 1.2rem;
$sizeExtraSmall: 1.6rem;
$sizeXS: 2rem;
$extraSize: 2.4rem;
$sizeS: 2.6rem;
$sizeM: 3rem;
$sizeL: 5.2rem;
$sizeXL: 6.2rem;
$sizeXXL: 7.2rem;