@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf');
  src: url('../fonts/Poppins-Regular.ttf');
}
@import '_variables';
@import '_responsive';
@import '_mixins';
@import '_global';
@import '_animations';
@import '_extra-classes';
@import '_swiper';
@import '_hamburger';
@import '_navigation';
@import '_header';
@import '_services';
@import '_about-us';
@import '_form';
@import '_footer';


